body {
		background-image: url(images/ship.jpg);
		background-repeat: no-repeat;
		background-size: cover;
}

#how {
		text-decoration: underline;
		margin-bottom: -5px;
}

.box {
		width: 42px;
		height: 42px;
		border: 1px solid white;
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 80px;
		border-collapse: collapse;
		cursor: url(images/crosshair.png)16 16, auto;
}

.topHeader {
		text-align: center;
		font-size: 20px;
}

h1 {
		font-size: 35px;
		font-weight: bold;
}

#tagline {
		text-align: center;
		margin-top: -20px;
}


.instruction {
		display: flex;
		justify-content: center;
}

h2 {
		font-size: 22px;
		font-weight: bold;
		text-align: center;
}

.game-rows {
		border-collapse: collapse;
		display: flex;
		justify-content: center;
		align-items: center;
}

.board {
		display: block;
		text-align: center;
		justify-content: center;
}

#restart {
		text-align: center;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		width: 100px;
		height: 210px;
		padding: 0 10px 0 10px;
		margin-left: 142px;
		font-size: 26px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 10%;
}

.left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 180px;
		margin-left: -100px;
		padding-right: 100px;
}

h3 {
		font-size: 24px;
		font-weight: bold;
		color: white;
}

.mid {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		margin-top:30px;
}

.right {
		width: 190px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		text-align: center;
		margin-left: 0;
		font-size: 26px;
		font-weight: bold;
		color: white;
		margin-top: -50px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 10%;
}

.counter {
		padding-bottom: 30px;
}

#reset {
		padding: 15px 27px;
		font-size: 16px;
		text-align: center;
		border-radius: 9%;
		width: 95%;
		margin-left: 3px;
}

.containerTop {
		background-color: rgba(0, 0, 0, 0.5);
		width: 600px;
		height: 180px;
		display: relative;
		margin: 0px auto 20px auto;
		color: white;
		border-radius: 5%;
}